:root {
    --color-brown:#987b71;
    --color-gray:#dbd5d5;
    --color-pink:#fce6e6;
}

body {
    background-color: var(--color-gray);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > * {
    margin: 0 25%;
}

svg {
    height: 50px;
    width: 50px;
}

header {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

header > * {
    margin-left: 1rem;
}

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    outline: 5px solid var(--color-gray);
}

main > .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 5px solid var(--color-brown);
}

footer {
    text-align: center;
    padding: 1rem;
}