:root {
    --color-brown:#987b71;
    --color-gray:#dbd5d5;
    --color-pink:#fce6e6;
}

body {
    background-color: var(--color-gray);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

svg {
    height: 50px;
    width: 50px;
}

body > * {
    padding: 0 25%;
}

footer {
    text-align: center;
    padding: 1rem;
}